[init]
	defaultBranch = main

[include]
	path = ~/.gitconfig.local

[core]
	editor = nvim

[alias]
    # fish shell では abbr があるから基本使わない
    a = add
    aa = add .

    c = commit
    cm = commit -m
    cmm = commit -am  # add + commit

    p = push
    pl = pull

    s = status
    lg = log --graph --oneline --decorate --all

    br = branch
    co = checkout
