### all ignore ###
/*
/**

### not ignore ###
!/bin/
!/bin/**

# ディレクトリ構造を辿れるように許可
!/fish/
!/fish/.config/
!/fish/.config/fish/
!/fish/.config/fish/completions/
!/fish/.config/fish/conf.d/
!/fish/.config/fish/functions/

# 特定のファイルのみを追跡対象にする
!/fish/.config/fish/config.fish
!/fish/.config/fish/conf.d/*.fish
!/fish/.config/fish/completions/*.fish
!/fish/.config/fish/functions/*.fish

!/nvim
!/nvim/**

!/README.md
!/.gitignore
