# 全階層の全ファイル・ディレクトリを無視
*

# 全階層のディレクトリのみ無視解除
!*/

# ホワイトリスト指定
!/fish/.config/fish/config.fish
!/fish/.config/fish/conf.d/*.fish
!/fish/.config/fish/completions/*.fish
!/fish/.config/fish/functions/*.fish

!/git/.gitconfig

!/nvim/.config/nvim/init.lua
# !/nvim/.config/nvim/**/*.lua

!/starship/.config/starship.toml

!/.gitignore
!/README.md

# 非探索用のディレクトリ
# ...
