### all ignore ###
/*
/**

### not ignore ###
# ディレクトリ構造を辿れるように許可
!/fish/
!/fish/.config/
!/fish/.config/fish/
!/fish/.config/fish/completions/
!/fish/.config/fish/conf.d/
!/fish/.config/fish/functions/

!/git

!/nvim/
!/nvim/.config/
!/nvim/.config/nvim/

!/starship/
!/starship/.config/

# 特定のファイルのみを追跡対象にする
!/fish/.config/fish/config.fish
!/fish/.config/fish/conf.d/*.fish
!/fish/.config/fish/completions/*.fish
!/fish/.config/fish/functions/*.fish

!/git/.gitconfig

!/nvim/.config/nvim/*.lua

!/starship/.config/starship.toml

!/README.md
!/.gitignore
